// Main Content
#main-content-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.countdown{
		font-family: $sans-serif;
	}
	#main-sidebar {
	}
	#main-content {
		width: 75%;
		margin: auto;
		font-family: $sans-serif;
		font-size: 1.2rem;
	}
}
