// Footer
#site-footer {
	background-color: $dark-blue;
	color: $white;
	padding: 1rem;
	text-align: center;
	margin-top: auto;
	font-family: $sans-serif;

	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}
}
