// Header
#main-header {
	display: block;
	padding: 0 2rem;
	margin: 1rem 0;
	@include lg {
		display: flex;
		align-items: center;
	}
	#block-ithaca-test-site-branding {
		text-align: center;
		@include lg {
			text-align: left;
		}
		img {
			max-width: 300px;
		}
	}
	// Menu
	#main-menu {
		width: 100%;
		padding: 0 2rem;
		#mobile-menu-button {
			display: block;
			margin-left: 25%;
			width: 50%;
			background: $dark-blue;
			color: $white;
			@include lg {
				display: none;
			}
		}

		ul {
			text-align: center;
			padding: 0;
			flex-direction: row;
			justify-content: space-evenly;
			list-style: none;
			font-family: $sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			display: none;
			@include lg {
				display: flex;
			}
			li {
				a {
					color: $dark-blue;
					text-decoration: none;
					&:hover {
						color: $light-blue;
					}
					&.is-active {
						border-bottom: 4px solid $yellow;
					}
				}
			}
		}
	}
}
